.company-head-title1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 38.52px;
}

.company-head-title2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.89px;
    padding-top: 10px;
}

.company-head-title-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .company-head-title1 {
        font-size: 27px;
    }
    .company-head-title2 {
        font-size: 14px;
        padding-top: 10px;
    }
}