.AsAnInvestorHead-tit {
    font-weight: 900;
    font-size: 30px;
    color: #050505;
}

.AsAnInvestorHead-desc-cont {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding-top: 15px;
    line-height: 20px;
}