.right-sm-2 {
    background: #FFFFFF;
    width: 199px;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 25px 35px 0px rgba(0, 0, 0, 0.19);
}

.right-sm1 {
    display: flex;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 4px 17px 40px 0px rgba(0, 0, 0, 0.19);
}

.right-sm-1-num {
    font-size: 12px;
    width: 60px;
    height: 20px;
    color: #060606;
    background: #f7d0d0;
    border-radius: 30px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.right-sm-1-num-cont {}

.right-sm-1-text {
    color: #757095;
    font-size: 13px;
    font-style: italic;
    padding-top: 10px;
}

.right-sm1 {
    background: #f5f1f1;
    width: 267px;
    /* height: 75px; */
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
}

.right-sm-1-desc {
    padding-left: 20px;
}

.right-sm-2-rates {
    display: flex;
    padding-top: 5px;
}

.right-sm-2-perc {
    color: #FF0000;
    font-size: 12px;
    font-weight: 600;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-sm-2-n {
    font-weight: 700;
    font-size: 14px;
}

.right-sm-2-flex {
    display: flex;
}

.chart-flex {
    display: flex;
    padding-top: 27px;
}

.bar1 {
    background: #FFFFFF;
    width: 20px;
    height: 12px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar2 {
    background: #FFFFFF;
    width: 20px;
    height: 18px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar3 {
    background: #FFFFFF;
    width: 20px;
    height: 42px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar4 {
    background: #FF0000;
    width: 20px;
    height: 31px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar5 {
    background: #FF0000;
    width: 20px;
    height: 59px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar6 {
    background: #FFFFFF;
    width: 20px;
    height: 12px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar7 {
    background: #FF0000;
    width: 20px;
    height: 31px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar8 {
    background: #FF0000;
    width: 20px;
    height: 46px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bar1-cont {
    padding-top: 47px;
    padding-right: 3px;
}

.bar2-cont {
    padding-top: 41px;
    padding-right: 3px;
}

.bar3-cont {
    padding-top: 17px;
    padding-right: 3px;
}

.bar4-cont {
    padding-top: 28px;
    padding-right: 3px;
}

.bar5-cont {
    padding-right: 3px;
}

.bar6-cont {
    padding-top: 47px;
    padding-right: 3px;
}

.bar7-cont {
    padding-top: 28px;
    padding-right: 3px;
}

.bar8-cont {
    padding-top: 13px;
    padding-right: 3px;
}

.month {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 9px;
    color: #718EBF;
}

.num {
    padding-bottom: 5px;
    font-size: 12px;
    font-style: italic;
}

.left-num {
    padding-top: 12px;
}

.right-sm-2-chart {}

.right-sm-3 {
    /* background: #FFFFFF; */
    background: #f5f1f1;
    border-radius: 10px;
    width: 250px;
}

.right-sm-3-title {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    padding-left: 15px;
    padding-top: 15px;
    /* color: #718EBF; */
}

.homeRight-cont {
    /* position: absolute; */
}

.right-sm-1 {}

.right-sm-2 {
    position: absolute;
    top: 310px;
    right: -170px;
}

.right-sm-3 {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 20px 12px 40px 0px rgba(0, 0, 0, 0.19);
}

.as {
    position: absolute;
    padding-left: 320px;
    padding-top: 260px;
}

.homeRight-cont {
    position: absolute;
}

.right-sm-cont {
    /* position: absolute; */
}

.mo {
    position: absolute;
}

.right-sm-cont {
    position: absolute;
    top: 135px;
    right: -210px;
    /* padding-top: 350px;
    padding-left: 100px; */
}

.lo {
    padding-left: 120px;
}

.right-sm-2-tit {
    font-size: 15px;
}

.right-sm-4 {}

.inside-img {
    /* position: absolute; */
}

.in {
    width: 300px;
    height: 500px;
}

@media only screen and (max-width: 800px) {
    .inside-img {
        /* background: red; */
        padding-right: 90px;
        /* position: absolute; */
    }
    .right-sm-1-num {
        font-size: 11px;
        width: 55px;
        height: 20px;
        padding-left: 8px;
    }
    .right-sm-3 {
        /* background: #FFFFFF; */
        background: #f5f1f1;
        border-radius: 10px;
        width: 200px;
    }
    .right-sm-1-text {
        font-size: 12px;
        padding-top: 10px;
    }
    .right-sm1 {
        width: 210px;
        /* height: 75px; */
        padding: 10px 0px 10px 10px;
        border-radius: 10px;
    }
    .in {
        width: 300px;
        height: 480px;
    }
    .right-sm-2-rates {
        padding-top: 2px;
    }
    .right-sm-2-perc {
        font-size: 11px;
        padding-left: 10px;
    }
    .right-sm-2-n {
        font-size: 12px;
    }
    .right-sm-2-tit {
        font-size: 14px;
    }
    .bar1 {
        background: #FFFFFF;
        width: 16px;
        height: 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar2 {
        background: #FFFFFF;
        width: 16px;
        height: 16px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar3 {
        background: #FFFFFF;
        width: 16px;
        height: 40px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar4 {
        background: #FF0000;
        width: 16px;
        height: 29px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar5 {
        background: #FF0000;
        width: 16px;
        height: 50px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar6 {
        background: #FFFFFF;
        width: 16px;
        height: 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar7 {
        background: #FF0000;
        width: 16px;
        height: 29px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar8 {
        background: #FF0000;
        width: 16px;
        height: 44px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar1-cont {
        padding-top: 40px;
        padding-right: 3px;
    }
    .bar2-cont {
        padding-top: 34px;
        padding-right: 3px;
    }
    .bar3-cont {
        padding-top: 10px;
        padding-right: 3px;
    }
    .bar4-cont {
        padding-top: 21px;
        padding-right: 3px;
    }
    .bar5-cont {
        padding-right: 3px;
    }
    .bar6-cont {
        padding-top: 40px;
        padding-right: 3px;
    }
    .bar7-cont {
        padding-top: 21px;
        padding-right: 3px;
    }
    .bar8-cont {
        padding-top: 6px;
        padding-right: 3px;
    }
    .month {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 9px;
        color: #718EBF;
    }
    .num {
        padding-bottom: 5px;
        font-size: 11.5px;
        font-style: italic;
    }
    .left-num {
        padding-top: 9px;
    }
    .right-sm-2 {
        position: absolute;
        top: 300px;
        right: -175px;
    }
    .right-sm-2 {
        background: #f5f1f1;
        width: 155px;
        padding: 10px 20px 10px 10px;
        border-radius: 10px;
    }
    .as {
        padding-left: 300px;
        padding-top: 240px;
    }
    .rightsming {
        width: 203px;
    }
    .right-sm-3-title {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        padding-left: 15px;
        padding-top: 15px;
        /* color: #718EBF; */
    }
    .right-sm-1-desc {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .inside-img {
        padding-right: 90px;
        /* position: absolute; */
    }
    .right-sm-cont {
        /* background: red; */
        position: absolute;
        top: 100px;
        right: -190px;
        /* padding-top: 350px;
        padding-left: 100px; */
    }
    .right-sm-1-num {
        background: red;
        font-size: 9px;
        width: 48px;
        height: 15px;
        padding-left: 5px;
    }
    .right-sm-3 {
        /* background: #FFFFFF; */
        background: #f5f1f1;
        border-radius: 10px;
        width: 165px;
    }
    .sm1img {
        width: 43px;
    }
    .right-sm-1-text {
        font-size: 10px;
        padding-top: 7px;
    }
    .right-sm1 {
        width: 170px;
        /* height: 75px; */
        padding: 10px 0px 10px 10px;
        border-radius: 10px;
    }
    .in {
        width: 230px;
        height: 390px;
    }
    .right-sm-2-rates {
        padding-top: 2px;
    }
    .right-sm-2-perc {
        font-size: 9px;
        padding-left: 7px;
    }
    .right-sm-2-n {
        font-size: 10px;
    }
    .right-sm-2-tit {
        font-size: 12px;
    }
    .bar1 {
        background: #FFFFFF;
        width: 13px;
        height: 8px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar2 {
        background: #FFFFFF;
        width: 13px;
        height: 14px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar3 {
        background: #FFFFFF;
        width: 13px;
        height: 38px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar4 {
        background: #FF0000;
        width: 13px;
        height: 27px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar5 {
        background: #FF0000;
        width: 13px;
        height: 46px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar6 {
        background: #FFFFFF;
        width: 13px;
        height: 8px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar7 {
        background: #FF0000;
        width: 13px;
        height: 27px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar8 {
        background: #FF0000;
        width: 13px;
        height: 42px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar1-cont {
        padding-top: 38px;
        padding-right: 3px;
    }
    .bar2-cont {
        padding-top: 32px;
        padding-right: 3px;
    }
    .bar3-cont {
        padding-top: 8px;
        padding-right: 3px;
    }
    .bar4-cont {
        padding-top: 19px;
        padding-right: 3px;
    }
    .bar5-cont {
        padding-right: 3px;
    }
    .bar6-cont {
        padding-top: 38px;
        padding-right: 3px;
    }
    .bar7-cont {
        padding-top: 19px;
        padding-right: 3px;
    }
    .bar8-cont {
        padding-top: 4px;
        padding-right: 3px;
    }
    .month {
        padding-top: 5px;
        padding-left: 5px;
        font-size: 8px;
        color: #718EBF;
    }
    .num {
        padding-bottom: 5px;
        font-size: 10px;
        font-style: italic;
    }
    .left-num {
        padding-top: 9px;
    }
    .right-sm-2 {
        position: absolute;
        top: 240px;
        right: -175px;
    }
    .right-sm-2 {
        background: #f5f1f1;
        width: 125px;
        padding: 10px 30px 10px 10px;
        border-radius: 10px;
    }
    .as {
        padding-left: 260px;
        padding-top: 180px;
    }
    .rightsming {
        width: 167px;
    }
    .right-sm-3-title {
        font-size: 10px;
        font-weight: 400;
        font-style: italic;
        padding-left: 10px;
        padding-top: 15px;
        /* color: #718EBF; */
    }
    .right-sm-1-desc {
        padding-left: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .right-smls {
        position: absolute;
        right: -100px;
    }
    .inside-img {
        padding-right: 0px;
    }
    .right-sm-cont {
        position: absolute;
        top: 90px;
        right: -185px;
        /* padding-top: 350px;
        padding-left: 100px; */
    }
    .right-sm-1-num {
        background: red;
        font-size: 8px;
        width: 40px;
        height: 9px;
        padding-left: 4px;
        padding-bottom: 3px;
    }
    .right-sm-3 {
        /* background: #FFFFFF; */
        background: #f5f1f1;
        border-radius: 10px;
        width: 125px;
    }
    .sm1img {
        width: 33px;
    }
    .right-sm-1-text {
        font-size: 8px;
        padding-top: 3px;
    }
    .right-sm1 {
        width: 135px;
        /* height: 75px; */
        padding: 6px 0px 5px 6px;
    }
    .in {
        width: 185px;
        height: 310px;
    }
    .right-sm-2-rates {
        padding-top: 2px;
    }
    .right-sm-2-perc {
        font-size: 7px;
        padding-left: 7px;
    }
    .right-sm-2-n {
        font-size: 8px;
    }
    .right-sm-2-tit {
        font-size: 10px;
    }
    .bar1 {
        background: #FFFFFF;
        width: 8px;
        height: 4px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar2 {
        background: #FFFFFF;
        width: 8px;
        height: 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar3 {
        background: #FFFFFF;
        width: 8px;
        height: 31px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar4 {
        background: #FF0000;
        width: 8px;
        height: 23px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar5 {
        background: #FF0000;
        width: 8px;
        height: 31px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar6 {
        background: #FFFFFF;
        width: 8px;
        height: 4px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar7 {
        background: #FF0000;
        width: 8px;
        height: 23px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar8 {
        background: #FF0000;
        width: 8px;
        height: 29px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .bar1-cont {
        padding-top: 27px;
        padding-right: 3px;
    }
    .bar2-cont {
        padding-top: 21px;
        padding-right: 3px;
    }
    .bar3-cont {
        padding-top: 0px;
        padding-right: 3px;
    }
    .bar4-cont {
        padding-top: 8px;
        padding-right: 3px;
    }
    .bar5-cont {
        padding-right: 3px;
    }
    .bar6-cont {
        padding-top: 27px;
        padding-right: 3px;
    }
    .bar7-cont {
        padding-top: 8px;
        padding-right: 3px;
    }
    .bar8-cont {
        padding-top: 2px;
        padding-right: 3px;
    }
    .month {
        padding-top: 5px;
        padding-left: 1.5px;
        font-size: 7px;
        color: #718EBF;
    }
    .num {
        padding-bottom: 5px;
        font-size: 7px;
        font-style: italic;
    }
    .left-num {
        padding-top: 9px;
    }
    .right-sm-2 {
        position: absolute;
        top: 190px;
        right: -165px;
    }
    .right-sm-2 {
        background: #f5f1f1;
        width: 80px;
        padding: 5px 30px 5px 9px;
    }
    .as {
        padding-left: 240px;
        padding-top: 150px;
    }
    .rightsming {
        width: 126px;
    }
    .right-sm-3-title {
        font-size: 7px;
        font-weight: 400;
        font-style: italic;
        padding-left: 10px;
        padding-top: 7px;
        /* color: #718EBF; */
    }
    .right-sm-1-desc {
        padding-left: 12px;
    }
}

@media only screen and (max-width: 1170px) {
    .flex {
        display: block;
    }
    .rightt {
        display: flex;
        justify-content: center;
        /* background: red; */
    }
    .inside-img {
        /* padding-right: 70px; */
        /* position: absolute; */
    }
    .as {
        /* padding-left: 309px;
        padding-top: 240px; */
    }
}